################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/EmployeeScheduler/.vs/EmployeeScheduler/v16/Server/sqlite3/db.lock
