@page "/Auth"

<div class="input-group mb-3">
    <input type="password" class="form-control" placeholder="Password" @bind="Password" />
    <div class="input-group-append">
        <button class="btn btn-outline-primary" type="button" @onclick="GetToken">Get Token</button>
    </div>
</div>

@inject Lib.Services.ILogger Logger
@inject Lib.Services.IToastService Toast
@inject NavigationManager Nav
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage
@inject Lib.Services.IFetchService Fetch
@code
{
    private const string URL = "https://localhost:44378/authentication";

    private string Password { get; set; }

    private async Task GetToken()
    {
        try
        {
            var result = await Fetch.PostAsync<FetchResult>(URL, new { password = Password });
            if (result.status == 200)
            {
                await LocalStorage.SetItemAsync("EmployeeScheduler_token", Newtonsoft.Json.JsonConvert.DeserializeObject<string>(result.json));
                Nav.NavigateTo(Nav.BaseUri);
            }
            else if (result.status == 401)
            {
                await Toast.ShowAsync("Incorrect password", Lib.Services.ToastType.Error);
                Password = "";
            }
        }
        catch (Exception ex)
        {
            await Logger.LogExceptionAsync(ex);
        }

    }

    private class FetchResult
    {
        public int status { get; set; }
        public string json { get; set; }
    }


    public class FetchError
    {
        public string type { get; set; }
        public string title { get; set; }
        public int status { get; set; }
        public string traceId { get; set; }
    }
}