@page "/employee"
@page "/employee/{ID:int}"

@if (Employee_ == null)
{
    <h1 style="color: red;">Employee not found.</h1>
}
else
{
    <div class="form-group">
        <label>First Name:</label>
        <input type="text" class="form-control" @bind-value="Employee_.FirstName" />
    </div>
    <div class="form-group">
        <label>Last Name:</label>
        <input type="text" class="form-control" @bind-value="Employee_.LastName" />
    </div>
    <div class="form-group form-check">
        <label class="form-check-label">
            <input type="checkbox" class="form-check-input" @bind="Employee_.Active" /> Active
        </label>
    </div>
    <button class="btn btn-primary" @onclick="Save">Save Employee</button>
}

@inject Lib.Services.ISchedulingService SchedulingService
@inject Lib.Services.IAlertService AlertService
@inject Lib.Services.ILogger Logger
@inject NavigationManager Nav
@code {
    [Parameter]
    public int ID { get; set; }
    private Mode PageMode => ID == 0 ? Mode.Insert : Mode.Update;

    public Lib.DTO.Employee Employee_ { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (PageMode == Mode.Insert) Employee_ = new Lib.DTO.Employee();
        else Employee_ = await SchedulingService.GetEmployeeAsync(ID);
    }

    private async Task Save()
    {
        if (PageMode == Mode.Insert)
        {
            Employee_ = await SchedulingService.AddEmployeeAsync(Employee_);
            ID = Employee_.ID;
        }
        else
        {
            await SchedulingService.UpdateEmployeeAsync(Employee_);
        }

        await AlertService.QueueSuccessAlertAsync("Employee Saved Successfully!");
        Nav.NavigateTo($"{Nav.BaseUri}employees");
        //await Logger.LogAsync(Nav.BaseUri);
    }

    private enum Mode { Insert = 0, Update }
}