@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />
<div class="btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-outline-primary">
        <input type="checkbox"> Checked
    </label>
</div>

@inject Lib.Services.ILogger Logger
@inject Lib.Services.IToastService Toast
@inject NavigationManager Nav
@inject Microsoft.JSInterop.IJSRuntime JS
@code
{

    protected override void OnInitialized()
    {
        Nav.NavigateTo($"{Nav.BaseUri}schedule");
    }
}