@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

<button class="btn btn-outline-primary" @onclick="CallApi">Call Api</button>
@if (ResponseValue != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>&deg;C</th>
                <th>&deg;F</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var response in ResponseValue)
            {
                <tr>
                    <td>@response.date.ToShortDateString()</td>
                    <td>@response.temperatureC &deg;C</td>
                    <td>@response.temperatureF &deg;F</td>
                    <td>@response.summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@inject Lib.Services.ILogger Logger
@inject Lib.Services.IToastService Toast
@inject NavigationManager Nav
@inject Microsoft.JSInterop.IJSRuntime JS
@code
{
    private const string URL = "https://localhost:44378/weatherforecast";
    private WeatherForecast[] ResponseValue { get; set; }

    private async Task CallApi()
    {
        try
        {
            var obj = new Newtonsoft.Json.Linq.JObject();
            obj.Add("method", "POST");
            obj.Add("cache", "no-cache");
            obj.Add("body", "{\"password\":\"AdminPassword\"}");

            var headers = new Newtonsoft.Json.Linq.JObject();
            headers.Add("Content-Type", "application/json");
            obj.Add("headers", headers);


            //ResponseValue = await JS.InvokeAsync<WeatherForecast[]>("wrappedFetch", URL, obj.ToString());
            var result = await JS.InvokeAsync<FetchResult>("wrappedFetch", URL, obj.ToString());
            if (result.status == 200)
            {
                ResponseValue = Newtonsoft.Json.JsonConvert.DeserializeObject<WeatherForecast[]>(result.json);
            }
            else
            {
                await Logger.LogAsync(Newtonsoft.Json.JsonConvert.DeserializeObject<FetchError>(result.json));
            }
        }
        catch (Exception ex)
        {
            await Logger.LogExceptionAsync(ex);
        }

    }

    private class FetchResult
    {
        public int status { get; set; }
        public string json { get; set; }
    }

    private class WeatherForecast
    {
        public DateTime date { get; set; }
        public double temperatureC { get; set; }
        public double temperatureF { get; set; }
        public string summary { get; set; }
    }


    public class FetchError
    {
        public string type { get; set; }
        public string title { get; set; }
        public int status { get; set; }
        public string traceId { get; set; }
    }


    protected override void OnInitialized()
    {
        //Nav.NavigateTo($"{Nav.BaseUri}schedule");
    }
}