#toastArea {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.em-toast {
    animation: fade-out 8s forwards;
}

@keyframes fade-out {
    0%    { opacity: 1; }
    62.5% { opacity: 1; }
    100%  { opacity: 0; }
}