@inherits LayoutComponentBase
@using Lib.Extensions

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @*<a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>*@
    </div>

    <div class="content px-4">
        <ul class="list-group list-group-flush">
            @for (int i = 0; i < Alerts.Count; i++)
            {
                var alert = Alerts[i];
                <li class="list-group-item @(alert.CssClass())" @onclick="RemoveAlert(i)">
                    @(alert.Text)
                </li>
            }
        </ul>
        @Body
    </div>
</div>

@inject Lib.Services.IAlertService AlertService
@inject Lib.Services.ILogger Logger
@code {
    public List<Lib.DTO.Alert> Alerts { get; set; } = new List<Lib.DTO.Alert>();

    protected override async Task OnParametersSetAsync()
    {
        Alerts = await AlertService.GetAlertsAsync();
    }

    public EventCallback RemoveAlert(int index)
        => EventCallback.Factory.Create(this, () => Alerts.RemoveAt(index));
}