#toastArea {
    position: fixed;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.em-toast {
    padding: 10px;
    border-radius: 5px;
    margin-top: 5px;
}

.em-toast-info {
    border: 1px solid blue;
    color: blue;
    background-color: lightblue;
}

.em-toast-success {
    border: 1px solid green;
    color: green;
    background-color: lightgreen;
}

.em-toast-warning {
    border: 1px solid darkkhaki;
    color: darkkhaki;
    background-color: khaki;
}

.em-toast-error {
    border: 1px solid red;
    color: red;
    background-color: lightpink;
}
