@using Lib.Extensions

<div class="card">
    <div class="card-body">
        <h5 class="card-title">@DayString</h5>
        <h6 class="card-subtitle text-muted">@Date.ToShortDateString()</h6>
        <div class="row d-sm-flex d-none">
            <div class="col-sm-3"><strong>Employee</strong></div>
            <div class="col-sm-1"><strong>Off</strong></div>
            <div class="col-sm-3"><strong>Time</strong></div>
            <div class="col-sm-3"><strong>Lunch</strong></div>
            <div class="col-sm-2"><strong>Total Hours</strong></div>
        </div>
        @{ var i = 0; }
        @foreach (var employeeDay in EmployeeDays)
        {
            if (!employeeDay.Employee.Active)
            {
                i++;
                continue;
            }
            var localDay = employeeDay;
            var localI = i;
            var hours = GetTotalHours(i);
            <div class="row mb-2">
                <div class="col-sm-3">@employeeDay.Employee.FormattedName()</div>
                <div class="col-sm-1">
                    <div class="form-group form-check">
                        @if (employeeDay.Day.IsOff)
                        {
                            <input type="checkbox" class="form-check-input" checked @onchange="async e => await DayOffChangedAsync(localI, e)" />
                        }
                        else
                        {
                            <input type="checkbox" class="form-check-input" @onchange="async e => await DayOffChangedAsync(localI, e)" />
                        }
                    </div>
                </div>
                <div class="col-sm-3"><TimeRangePicker Disabled="employeeDay.Day.IsOff" OnTimeChanged="async e => await GetTotalHours(localI, e)" StartTime="employeeDay.Day.From" EndTime="employeeDay.Day.To" /></div>
                <div class="col-sm-3">
                    <div class="form-group">
                        <select class="form-control" @onchange="async e => await LunchTypeChanged(localI, e)">
                            @if (employeeDay.Day.LunchType == 0)
                            {
                                <option value="0" selected>None</option>
                                <option value="1">30 min</option>
                                <option value="2">1 hr</option>
                            }
                            else if (employeeDay.Day.LunchType == 1)
                            {
                                <option value="0">None</option>
                                <option value="1" selected>30 min</option>
                                <option value="2">1 hr</option>
                            }
                            else if (employeeDay.Day.LunchType == 2)
                            {
                                <option value="0">None</option>
                                <option value="1">30 min</option>
                                <option value="2" selected>1 hr</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">@HourValues[localI]</div>
            </div>
            i++;
        }
    </div>
</div>

@inject Lib.Services.ILogger Logger
@code 
{
    [Parameter]
    public string DayString { get; set; }
    [Parameter]
    public DateTime Date { get; set; }
    [Parameter]
    public List<EmployeeDayDTO> EmployeeDays { get; set; }

    private string[] HourValues { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        HourValues = EmployeeDays.Select((d, i) => GetTotalHours(i)).ToArray();

        // Shut up about the SUN!
        await Task.FromResult(0);
    }

    private async Task DayOffChangedAsync(int index, ChangeEventArgs e)
    {
        EmployeeDays[index].Day.IsOff = (bool)e.Value;
        await Logger.LogAsync(e.Value);

        HourValues[index] = GetTotalHours(index);
    }

    private async Task LunchTypeChanged(int index, ChangeEventArgs e)
    {
        await Logger.LogAsync(e.Value.ToString());
        EmployeeDays[index].Day.LunchType = int.Parse(e.Value.ToString());
        HourValues[index] = GetTotalHours(index);
    }

    private async Task GetTotalHours(int index, TimeRangePicker.TimeRangeEventArgs e)
    {
        if (EmployeeDays[index].Day.IsOff)
        {
            HourValues[index] = "0.00";
            return;
        }

        EmployeeDays[index].Day.From = e.StartTime;
        EmployeeDays[index].Day.To = e.EndTime;
        var lunchType = (LunchType)EmployeeDays[index].Day.LunchType;
        var lunchOffset = 0d;
        switch (lunchType)
        {
            case LunchType.HalfHour: lunchOffset = -0.5d; break;
            case LunchType.Hour:     lunchOffset = -1d;   break;
        }

        HourValues[index] = (e.EndTime.TimeOfDay - e.StartTime.TimeOfDay).Add(TimeSpan.FromHours(lunchOffset)).TotalHours.ToString("0.00");

        // Shut up about the SUN!
        await Task.FromResult(0);
    }

    private string GetTotalHours(int index)
    {
        if (EmployeeDays[index].Day.IsOff) return "0.00";

        var day = EmployeeDays[index].Day;
        var lunchType = (LunchType)EmployeeDays[index].Day.LunchType;
        var lunchOffset = 0d;
        switch (lunchType)
        {
            case LunchType.HalfHour: lunchOffset = -0.5d; break;
            case LunchType.Hour:     lunchOffset = -1d;   break;
        }
        return (day.To.TimeOfDay - day.From.TimeOfDay).Add(TimeSpan.FromHours(lunchOffset)).TotalHours.ToString("0.00");
    }

    public class EmployeeDayDTO
    {
        public Lib.DTO.Employee Employee { get; set; }
        public Lib.DTO.EmployeeSchedule Day { get; set; }
        //public bool IsOff { get; set; }
    }

    private enum LunchType
    {
        None = 0,
        HalfHour,
        Hour
    }
}